/* width */
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #004d40;
}
#login{
    display: none;
    img{
        width:150px;height:auto;
    }
    position: fixed;
    background:#fff;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2999;
    form{
        width: 400px;
        padding: 40px 20px;
    }
}
.notingtoshow{position: absolute;top:0;bottom:0;right:0;left:0;background:#fff;z-index:6}

body{
    position: relative;
    //background-image: url('../img/back6.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
//nav and search
main,header{
    position: relative;
    width:calc(100%-250px);
    margin-left:250px;
}
nav{
    position:fixed;
    top: 0;
    z-index: 2;
    padding-left: 15px;
    .logo-link{
        color:#999!important;
    }
    form{
        display: none;
        z-index: 22;
        padding:10px 20px;
        position: absolute;
        left: 0;right: 0;bottom:0;right: 0;
        background-color: white;
        box-shadow: 0px 5px 26px rgba(0,0,0,0.12);
        input{
            position: absolute;
            bottom: 5px;
            padding-left: 30px!important;
            font-family: "Raleway";
            border:none!important;
            font-size: xx-large;
            &:focus{
                border:none!important;
                box-shadow: 0 1px 0 0 #fff!important;
            }
            width:89%!important;
            right: 20px; left:20px;
        }
        i.material-icons {
            &.search{
                position: absolute;
                top: 0;
            }
            display: inline-block!important;
            color: #999!important;
            opacity: 1;
            transition: 0.5s;
        }
        .close-search {
            display: inline-block;
            position: absolute;
            top: 0;
            cursor: pointer;
            left: 75%;
            i{
                font-size: -webkit-xxx-large;
            }
        }
    }
    ul{
        &.nav-list-right{
            a{
                color: #999!important;
            }
            position: absolute;
            top: 0;
            left: 69%;
            color: #999 !important;
        }
    }
}
.create-btn-default{
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    margin:15px 0;
    border: 1px solid #ddd;
    box-shadow:0px 5px 5px rgba(0,0,0,0.3);
}
//
.notify{
    display: none;
    position: fixed;
    bottom:5%;
    color: white;
    text-align: center;
    padding: 10px 25px;
    left: 40%;
    z-index: 3999;
    width: 300px;
    cursor: pointer;
    i{
        font-style: normal;
        float: right;
    }
}
/*route page */
.routePage{
    margin-top: 70px; padding:10px 14px;}
.box {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    border-radius: 2px;
    .header {
        color: #555;
        padding: 20px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);
        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }
        .btn-large{
            position: absolute;
            top:10px;right: 6px;
        }
    }
    .body {
        font-size: 14px;
        color: #555;
        padding: 20px;
    }
}
//collapseible
.collapsible-header{
    background: #fff;
    padding: 0px!important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 2px;
    .header {
        width:100%;
        color: #555;
        padding: 20px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);
        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }
        .btn-large{
            position: absolute;
            top:10px;right: 6px;
        }
    }
}
//block btns
.btn-block{
    display: block;
    width: 100%;
}
.list{
    border: 1px solid #ddd;
    background-image: attr(data-url url);
    background-size: cover;
    background-position: center;
    height: 200px;width: 180px;
    position: relative;
    .card-title{
        position: absolute;
        font-size: 20px;
        color: #fff;
        left: 6px;
        top:5px;
        z-index: 13;
    }
    input[type="number"]{
        width: 120px!important;
        text-align: center!important;
        background: #fff!important;
        padding:0px 10px;
        height: 30px;
        position: absolute;
        left: 20px;
        bottom: 30px;
        border: none!important;
        &:focus{
            border: none!important;
            box-shadow: 0px 0px 0px transparent!important;
        }
    }
    p.btn{
        position: absolute;
        bottom: 0;
        margin:0;
    }

}
.dark-wrapper{
    position:absolute;
    top: 0;bottom: 0;right: 0;left:0;
    background:rgba(0,0,0,0.4);
    z-index:0;
}
/*data Tables */
.paginate_button{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    &.next,&.previous{
        margin: 0 10px;
        background:#01579b;
        color:white;
    }
    &.current{
        border-radius:50%;
        background:#1b5e20 ;
        color: #fff;
    }
}
.btn-export-pdf{
    background:#ef6c00!important;
    &:focus,&:active,&:hover{
        background-color: #e65100!important;
    }
}
/**/
.swal-button--cancel:focus {
     box-shadow: 0 0 0 1px #fff!important;
    background: #ddd!important;
}
/**/
.searchTable {
    input{
        width: 40%!important;
        float: right!important;
    }
}
table.huberts-tables{
    input{
        border:none!important;
        margin:0px!important;
        padding-left: 5px!important;
        &:not(.date){
            //width: 60%!important;
        }
        &:focus{
            background: #fff!important;
            box-shadow:0px 0px 0px white !important;
        }
    }
    select{
        cursor: pointer;
        height: 35px!important;
    }
    thead {
        border-bottom: 2px solid #000;
        th{
            cursor:default;
            &:focus{
            background:#ddd;
            }
        }
    }
    tbody{
        tr{
            cursor: pointer;
            &:hover{
                background:#f1f1f1;
            }
            td{
                padding: 9px 5px!important;
            }
        }
    }
    tfoot{
        border-top: 2px solid #000;
    }
}
//modals


