/* width */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #333;
  text-align: center;
  position: relative; }

::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004d40; }

hr {
  border-color: #ddd;
  margin-top: 5px;
  margin-bottom: 9px; }

select.prefixed {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem); }

#login {
  display: none;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2999; }
  #login img {
    width: 150px;
    height: auto; }
  #login form {
    width: 400px;
    padding: 40px 20px; }

.notingtoshow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 6; }

body {
  position: relative;
  overflow-y: scroll;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

main,
header {
  position: relative;
  width: calc(100%-250px);
  margin-left: 250px; }

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  padding-left: 15px; }
  nav .logo-link {
    color: #999 !important; }
  nav form {
    display: none;
    z-index: 22;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12); }
    nav form input {
      position: absolute;
      bottom: 5px;
      padding-left: 30px !important;
      font-family: "Raleway";
      border: none !important;
      font-size: xx-large;
      width: 89% !important;
      right: 20px;
      left: 20px; }
      nav form input:focus {
        border: none !important;
        -webkit-box-shadow: 0 1px 0 0 transparent !important;
        box-shadow: 0 1px 0 0 transparent !important; }
    nav form i.material-icons {
      display: inline-block !important;
      color: #999 !important;
      opacity: 1;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      nav form i.material-icons.search {
        position: absolute;
        top: 0; }
    nav form .close-search {
      display: inline-block;
      position: absolute;
      top: 0;
      cursor: pointer;
      left: 75%; }
      nav form .close-search i {
        font-size: -webkit-xxx-large; }
  nav ul.nav-list-right {
    position: absolute;
    top: 0;
    left: 69%;
    color: #999 !important; }
    nav ul.nav-list-right a {
      color: #999 !important; }

.create-btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); }

.notify {
  display: none;
  position: fixed;
  bottom: 5%;
  color: white;
  text-align: center;
  padding: 10px 25px;
  left: 40%;
  z-index: 3999;
  width: 300px;
  cursor: pointer; }
  .notify i {
    font-style: normal;
    float: right; }

/*route page */
.routePage {
  margin-top: 70px;
  padding: 10px 14px; }

.box {
  background: #fff;
  min-height: 50px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  border-radius: 2px; }
  .box .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35); }
    .box .header h2 {
      margin: 0;
      font-size: 18px;
      display: inline-block;
      font-weight: normal; }
    .box .header .btn-large {
      position: absolute;
      top: 10px;
      right: 6px; }
  .box .body {
    font-size: 14px;
    color: #555;
    padding: 20px; }

#dashboard .collapsible-header {
  background: #fff;
  padding: 0px !important;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 2px; }
  #dashboard .collapsible-header .header {
    width: 100%;
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35); }
    #dashboard .collapsible-header .header h2 {
      margin: 0;
      font-size: 18px;
      font-weight: normal; }
    #dashboard .collapsible-header .header .btn-large {
      position: absolute;
      top: 10px;
      right: 6px; }

.btn-block {
  display: block;
  width: 100%; }

.list {
  border: 1px solid #ddd;
  background-image: attr(data-url url);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 180px;
  position: relative; }
  .list .card-title {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 6px;
    top: 5px;
    z-index: 13; }
  .list input[type="number"] {
    width: 120px !important;
    text-align: center !important;
    background: #fff !important;
    padding: 0px 10px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 30px;
    border: none !important; }
    .list input[type="number"]:focus {
      border: none !important;
      -webkit-box-shadow: 0px 0px 0px transparent !important;
      box-shadow: 0px 0px 0px transparent !important; }
  .list p.btn {
    position: absolute;
    bottom: 0;
    margin: 0; }

.dark-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0; }

/*data Tables */
/**/
.swal-button--cancel:focus {
  -webkit-box-shadow: 0 0 0 1px #fff !important;
  box-shadow: 0 0 0 1px #fff !important;
  background: #ddd !important; }

/**/
.searchTable input {
  width: 40% !important;
  float: right !important; }

div.huberts-table-div {
  min-height: 50px;
  max-height: 500px;
  overflow-y: auto; }
  div.huberts-table-div .no-data {
    height: 100%;
    text-align: center;
    line-height: 50px; }

table.huberts-tables input {
  border: none !important;
  margin: 0px !important;
  padding-left: 5px !important; }
  table.huberts-tables input:focus {
    background: #fff !important;
    -webkit-box-shadow: 0px 0px 0px white !important;
    box-shadow: 0px 0px 0px white !important; }

table.huberts-tables select {
  cursor: pointer;
  height: 35px !important; }

table.huberts-tables thead {
  border-bottom: 2px solid #000; }
  table.huberts-tables thead th {
    width: 16.66%;
    cursor: default; }
    table.huberts-tables thead th.small {
      width: 3%; }
    table.huberts-tables thead th:focus {
      background: #ddd; }

table.huberts-tables tbody tr {
  cursor: pointer; }
  table.huberts-tables tbody tr:hover {
    background: #f1f1f1; }
  table.huberts-tables tbody tr td {
    width: 16.66%;
    padding: 9px 5px !important; }
    table.huberts-tables tbody tr td.small {
      width: 3%; }

table.huberts-tables tfoot {
  border-top: 2px solid #000; }

#promptPasword {
  width: 420px;
  -webkit-transform: translateY(45%) !important;
  -ms-transform: translateY(45%) !important;
  transform: translateY(45%) !important; }
  #promptPasword .modal-content {
    text-align: center; }
    #promptPasword .modal-content h4 {
      font-size: 2rem; }
    #promptPasword .modal-content input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 24px; }

#viewSelectedORders {
  width: 65%; }
  #viewSelectedORders .modal-content {
    background-color: #fff;
    padding: 0; }
    #viewSelectedORders .modal-content .box {
      margin: 0; }
    #viewSelectedORders .modal-content .body {
      height: 100%;
      padding: 0; }
      #viewSelectedORders .modal-content .body div.table-view {
        height: 309px;
        overflow-y: scroll; }
      #viewSelectedORders .modal-content .body table i {
        cursor: pointer; }
      #viewSelectedORders .modal-content .body table tfoot th {
        text-align: center; }

.datepicker-date-display {
  display: none !important; }

.datepicker-modal {
  max-width: 500px !important; }
  .datepicker-modal .datepicker-controls,
  .datepicker-modal .datepicker-footer {
    width: 100% !important; }
  .datepicker-modal .datepicker-controls .select-month input {
    width: 100px !important; }

.collapsible-body .row {
  margin-bottom: 0px !important; }
  .collapsible-body .row .col {
    margin-bottom: 0px !important; }

.collapsible-body .footer {
  padding: 10px; }

.orderPriceDetails {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 10px 25px;
  background: #ddd; }
  .orderPriceDetails span {
    font-weight: 900; }

.searchBox {
  margin-top: 0;
  margin-bottom: 10px;
  position: relative; }
  .searchBox i {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    color: #999; }
  .searchBox input {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    border: 1.5px solid #ddd;
    background: none;
    padding: 10px;
    border-radius: 25px;
    padding-left: 35px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear; }
    .searchBox input:focus {
      border-color: #2196f3; }

.scrollContainer {
  border: 1px solid #ddd;
  height: 280px;
  margin: 10px;
  overflow-x: hidden;
  white-space: nowrap; }
  .scrollContainer .item {
    display: inline-block;
    width: 220px;
    margin: 10px 7px;
    border: 1px solid #ddd;
    height: 250px; }
    .scrollContainer .item .header {
      padding: 5px 10px;
      color: #fff; }
      .scrollContainer .item .header dt {
        font-size: 1.6rem; }
    .scrollContainer .item .body .inputDiv {
      margin: 10px 5px; }
      .scrollContainer .item .body .inputDiv::after {
        content: '';
        clear: both;
        display: table; }
      .scrollContainer .item .body .inputDiv input {
        height: 37.3px;
        width: 70%;
        float: left;
        text-align: center;
        border: 1px solid #ddd; }
      .scrollContainer .item .body .inputDiv .btns {
        height: 37.3px;
        outline: none;
        border: 1px solid #ddd;
        cursor: pointer;
        width: 15%;
        float: left;
        padding: 5px; }
        .scrollContainer .item .body .inputDiv .btns:focus {
          background: #ddd; }
    .scrollContainer .item .body button {
      display: block;
      width: 80%;
      margin: auto; }
      .scrollContainer .item .body button[type="submit"] {
        background-color: #2e7d32; }
        .scrollContainer .item .body button[type="submit"].remove {
          background: #757575; }

@media only screen and (max-width: 992px) {
  main,
  header {
    position: relative;
    width: 100%;
    margin-left: 0px !important; }
  nav ul.nav-list-right {
    position: absolute;
    top: 0;
    left: 76%;
    color: #999 !important; } }
