*::-moz-selection {
  background: #f1f1f1;
  user-drag: none;
  -moz-user-select: none;
  user-select: none; }

*::selection {
  background: #f1f1f1;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 190px; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.p-0 {
  padding: 0 !important; }

/* width */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #333;
  text-align: center;
  position: relative; }

::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004d40; }

hr {
  border-color: #ddd;
  margin-top: 5px;
  margin-bottom: 9px; }

select.prefixed {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem); }

#login {
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2999; }
  #login img {
    width: 150px;
    height: auto; }
  #login .row {
    position: relative; }
  #login #managerial {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 29992; }
    #login #managerial h4 {
      -webkit-transform: translateY(-140%);
      -ms-transform: translateY(-140%);
      transform: translateY(-140%); }
    #login #managerial .head {
      text-align: center; }
      #login #managerial .head img {
        height: 75px;
        width: 75px; }
      #login #managerial .head h6 {
        margin: 0; }
    #login #managerial .img-upload {
      cursor: pointer;
      position: relative; }
      #login #managerial .img-upload .hover {
        position: relative;
        border: 1px solid #999;
        border-radius: 50%;
        height: 150px;
        width: 150px; }
        #login #managerial .img-upload .hover img {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
        #login #managerial .img-upload .hover:hover .dark-wrapper {
          display: block; }
        #login #managerial .img-upload .hover .dark-wrapper {
          display: none;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.6); }
  #login #loader {
    padding: 100px 55px;
    position: absolute;
    top: 0;
    bottom: -3px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 29991; }
    #login #loader .determinate {
      width: 0%;
      -webkit-animation-name: loadPage;
      animation-name: loadPage;
      -webkit-animation-duration: 4.3s;
      animation-duration: 4.3s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }
  #login form:not(#createManagerialForm) {
    width: 400px;
    padding: 40px 20px; }
  #login p.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #999; }

.nothing-to-show {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 6; }

body {
  position: relative;
  overflow-y: scroll;
  background: #fff; }

main {
  position: relative;
  width: calc(100%-250px);
  margin-left: 250px; }

#slide-out {
  margin-top: 64px;
  height: calc(100% - 64px); }
  #slide-out .row .col {
    padding: 0 !important; }
  #slide-out .img-div {
    width: 79px; }
  #slide-out .text-div a.name-link::after {
    content: '';
    clear: both;
    display: table; }
  #slide-out .text-div a.name-link i {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px); }
  #slide-out .dropdown-content {
    border-radius: 10px; }

nav:not(.nav-extended) {
  position: fixed;
  top: 0;
  z-index: 1999;
  padding-left: 15px; }
  nav:not(.nav-extended) .logo-link {
    color: #f44336 !important;
    font-family: kaushan_script;
    font-size: 19px; }
    nav:not(.nav-extended) .logo-link span {
      display: inline-block;
      -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      transform: translateY(-8px); }
    nav:not(.nav-extended) .logo-link img {
      display: inline-block;
      height: 45px;
      width: 45px;
      -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
      transform: translateY(8px); }
  nav:not(.nav-extended) form {
    display: none;
    z-index: 22;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12); }
    nav:not(.nav-extended) form input {
      position: absolute;
      bottom: 5px;
      color: #f44336 !important;
      padding-left: 30px !important;
      font-family: "Raleway";
      border: none !important;
      font-size: xx-large;
      width: 89% !important;
      right: 20px;
      left: 20px; }
      nav:not(.nav-extended) form input:focus {
        border: none !important;
        -webkit-box-shadow: 0 1px 0 0 transparent !important;
        box-shadow: 0 1px 0 0 transparent !important; }
    nav:not(.nav-extended) form i.material-icons {
      display: inline-block !important;
      color: #f44336 !important;
      opacity: 1;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      nav:not(.nav-extended) form i.material-icons.search {
        position: absolute;
        top: 0; }
    nav:not(.nav-extended) form .close-search {
      display: inline-block;
      position: absolute;
      color: #f44336 !important;
      top: 0;
      cursor: pointer;
      left: 94%; }
      nav:not(.nav-extended) form .close-search i {
        font-size: -webkit-xxx-large; }
  nav:not(.nav-extended) ul.nav-list-right {
    position: absolute;
    top: 0;
    left: 90%;
    color: #999 !important; }
    nav:not(.nav-extended) ul.nav-list-right a {
      color: #f44336 !important; }

.create-btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); }

.notify {
  display: none;
  position: fixed;
  bottom: 5%;
  color: white;
  text-align: center;
  padding: 10px 25px;
  left: 40%;
  z-index: 3999;
  width: 300px;
  cursor: pointer;
  border-radius: 26px; }
  .notify i {
    font-style: normal;
    float: right; }

/*route page */
.routePage {
  margin-top: 70px;
  padding: 10px 14px; }

.box {
  background: #fff;
  min-height: 50px;
  border-radius: 29px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px; }
  .box .header {
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35); }
    .box .header h2 {
      margin: 0;
      font-size: 18px;
      display: inline-block;
      font-weight: normal; }
    .box .header .btn-large {
      position: absolute;
      top: 10px;
      right: 6px; }
  .box .body {
    font-size: 14px;
    color: #555;
    padding: 20px; }

.bg-theme {
  background: -webkit-gradient(linear, left top, right top, from(#f44336), to(#ff9800)) !important;
  background: -webkit-linear-gradient(left, #f44336, #ff9800) !important;
  background: -o-linear-gradient(left, #f44336, #ff9800) !important;
  background: linear-gradient(to right, #f44336, #ff9800) !important; }

.bg-theme-rev {
  background: -webkit-gradient(linear, right top, left top, from(#f44336), to(#ff9800)) !important;
  background: -webkit-linear-gradient(right, #f44336, #ff9800) !important;
  background: -o-linear-gradient(right, #f44336, #ff9800) !important;
  background: linear-gradient(to left, #f44336, #ff9800) !important; }

button.bg-theme-rev:disabled, button.bg-theme:disabled {
  background: #f1f1f1 !important; }

.bg-theme-round {
  background: -webkit-radial-gradient(#ff9800, #f44336) !important;
  background: -o-radial-gradient(#ff9800, #f44336) !important;
  background: radial-gradient(#ff9800, #f44336) !important; }

.bg-theme-round-rev {
  background: -webkit-radial-gradient(#f44336, #ff9800) !important;
  background: -o-radial-gradient(#f44336, #ff9800) !important;
  background: radial-gradient(#f44336, #ff9800) !important; }

.bg-theme-pink {
  background: -webkit-gradient(linear, left top, right top, from(#d81b60), to(#ff9800));
  background: -webkit-linear-gradient(left, #d81b60, #ff9800);
  background: -o-linear-gradient(left, #d81b60, #ff9800);
  background: linear-gradient(to right, #d81b60, #ff9800); }

.bg-theme-pink-orange {
  background: -webkit-gradient(linear, left top, right top, from(#d81b60), to(#f44336));
  background: -webkit-linear-gradient(left, #d81b60, #f44336);
  background: -o-linear-gradient(left, #d81b60, #f44336);
  background: linear-gradient(to right, #d81b60, #f44336); }

#dashboard .collapsible-header {
  background: #fff;
  padding: 0px !important;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 2px; }
  #dashboard .collapsible-header .header {
    width: 100%;
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    border-top-left-radius: 29px;
    border-top-right-radius: 29px; }
    #dashboard .collapsible-header .header h2 {
      margin: 0;
      font-size: 18px;
      font-weight: normal; }
    #dashboard .collapsible-header .header .btn-large {
      position: absolute;
      top: 10px;
      right: 6px; }

.btn-block {
  display: block;
  width: 100%; }

.lists {
  border: 1px solid #ddd;
  background-image: attr(data-url url);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 180px;
  position: relative; }
  .lists .card-title {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 6px;
    top: 5px;
    z-index: 13; }
  .lists input[type="number"] {
    width: 120px !important;
    text-align: center !important;
    background: #fff !important;
    padding: 0px 10px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 30px;
    border: none !important; }
    .lists input[type="number"]:focus {
      border: none !important;
      -webkit-box-shadow: 0px 0px 0px transparent !important;
      box-shadow: 0px 0px 0px transparent !important; }
  .lists p.btn {
    position: absolute;
    bottom: 0;
    margin: 0; }

.dark-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0; }

.info-card {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 24px;
  height: 150px;
  -webkit-box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12); }
  .info-card:hover {
    -webkit-box-shadow: 0px 10px 29px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 29px rgba(0, 0, 0, 0.4); }
  .info-card h3 {
    margin: 0; }
  .info-card p {
    margin-top: 0; }

/**/
.swal-button--cancel:focus {
  -webkit-box-shadow: 0 0 0 1px #fff !important;
  box-shadow: 0 0 0 1px #fff !important;
  background: #ddd !important; }

ul.browser-default {
  list-style-type: circle; }

/**/
.searchTable input {
  width: 40% !important;
  float: right !important; }

div.huberts-table-div {
  min-height: 50px;
  max-height: 500px;
  overflow-y: auto; }
  div.huberts-table-div .no-data {
    height: 100%;
    text-align: center;
    line-height: 50px; }

table.huberts-tables input {
  border: none !important;
  margin: 0px !important;
  height: 35px !important;
  padding-left: 5px !important; }
  table.huberts-tables input:disabled {
    color: #000 !important; }
  table.huberts-tables input:focus {
    background: #fff !important;
    -webkit-box-shadow: 0px 0px 0px white !important;
    box-shadow: 0px 0px 0px white !important; }

table.huberts-tables select {
  cursor: pointer;
  height: 35px !important; }

table.huberts-tables thead {
  border-bottom: 2px solid #ddd; }
  table.huberts-tables thead th {
    padding: 9px !important;
    width: 16.66%;
    cursor: default; }
    table.huberts-tables thead th.small {
      width: 3%; }
    table.huberts-tables thead th:focus {
      background: #ddd; }

table.huberts-tables tbody tr {
  cursor: pointer; }
  table.huberts-tables tbody tr:hover {
    background: #f1f1f1; }
  table.huberts-tables tbody tr td {
    border-right: 1px solid #ddd;
    width: 16.66%;
    padding: 9px !important; }
    table.huberts-tables tbody tr td.small {
      width: 3%; }

table.huberts-tables tfoot {
  border-top: 2px solid #ddd; }

#promptPasword {
  width: 420px;
  -webkit-transform: translateY(45%) !important;
  -ms-transform: translateY(45%) !important;
  transform: translateY(45%) !important; }
  #promptPasword .modal-content {
    text-align: center; }
    #promptPasword .modal-content h4 {
      font-size: 2rem; }
    #promptPasword .modal-content input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 24px; }

#viewSelectedORders {
  max-height: 69% !important;
  border-radius: 0; }
  #viewSelectedORders .modal-content {
    background-color: #fff;
    padding: 0; }
    #viewSelectedORders .modal-content .box {
      margin: 0;
      border-radius: 0px;
      -webkit-box-shadow: 1px 1px transparent;
      box-shadow: 1px 1px transparent; }
      #viewSelectedORders .modal-content .box .header {
        border-radius: 0px; }
        #viewSelectedORders .modal-content .box .header i {
          font-size: xx-large;
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px); }
    #viewSelectedORders .modal-content .body {
      height: 100%;
      padding: 0; }
      #viewSelectedORders .modal-content .body div.table-view {
        height: 209px;
        overflow-y: scroll; }
      #viewSelectedORders .modal-content .body table i {
        cursor: pointer; }
      #viewSelectedORders .modal-content .body table tfoot th {
        text-align: center; }

.datepicker-date-display {
  display: none !important; }

.datepicker-modal {
  max-width: 500px !important; }
  .datepicker-modal .datepicker-controls,
  .datepicker-modal .datepicker-footer {
    width: 100% !important; }
  .datepicker-modal .datepicker-controls .select-month input {
    width: 100px !important; }

.collapsible-body .row {
  margin-bottom: 0px !important; }
  .collapsible-body .row .col {
    margin-bottom: 0px !important; }

.collapsible-body .footer {
  padding: 10px; }

.orderPriceDetails {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 10px 25px;
  background: #ddd; }
  .orderPriceDetails span {
    font-weight: 900; }

.searchBox {
  margin-top: 0;
  margin-bottom: 10px;
  position: relative; }
  .searchBox i {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    color: #999; }
  .searchBox input {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    border: 1.5px solid #ddd;
    background: none;
    padding: 10px;
    border-radius: 25px;
    padding-left: 35px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear; }
    .searchBox input:focus {
      border-color: #ff9800; }

.spin {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.scrollContainer {
  border: 1px solid #ddd;
  height: 280px;
  position: relative;
  margin: 10px;
  overflow-x: hidden;
  white-space: nowrap; }
  .scrollContainer .no-results {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 250px; }
    .scrollContainer .no-results p {
      margin: 0;
      font-size: xx-large;
      color: #999;
      font-family: Raleway; }
      .scrollContainer .no-results p strong {
        font-weight: 900; }
  .scrollContainer .item {
    display: inline-block;
    width: 220px;
    margin: 10px 7px;
    border: 1px solid #ddd;
    height: 250px; }
    .scrollContainer .item .header {
      position: relative;
      background-image: url(../img/item-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: #fff; }
      .scrollContainer .item .header .dark {
        padding: 5px 10px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.65); }
      .scrollContainer .item .header dl {
        z-index: 2; }
      .scrollContainer .item .header dt {
        font-size: 1.6rem; }
    .scrollContainer .item .body .inputDiv {
      margin: 10px 5px; }
      .scrollContainer .item .body .inputDiv::after {
        content: '';
        clear: both;
        display: table; }
      .scrollContainer .item .body .inputDiv input {
        height: 37.3px;
        width: 70%;
        float: left;
        text-align: center;
        border: 1px solid #ddd; }
      .scrollContainer .item .body .inputDiv .btns {
        height: 37.3px;
        outline: none;
        border: 1px solid #ddd;
        cursor: pointer;
        width: 15%;
        float: left;
        padding: 5px; }
        .scrollContainer .item .body .inputDiv .btns:focus {
          background: #ddd; }
    .scrollContainer .item .body button {
      display: block;
      width: 80%;
      margin: auto; }
      .scrollContainer .item .body button[type="submit"] {
        background-color: #2e7d32; }
        .scrollContainer .item .body button[type="submit"].remove {
          background: #757575; }

.swal-button--confirm {
  background: #ff9800 !important; }
  .swal-button--confirm:focus {
    -webkit-box-shadow: 1px 1px transparent !important;
    box-shadow: 1px 1px transparent !important; }

div#reports .date-review {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px); }
  div#reports .date-review input {
    width: 100%;
    border-radius: 26px;
    border: 1px solid #999;
    padding: 5px 15px; }

div#reports div.table-div {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd; }

div#reports table th {
  width: 16.6%; }
  div#reports table th.small {
    width: 3%; }

div#reports table tr td {
  width: 16.6%;
  padding: 0; }
  div#reports table tr td.small {
    width: 3%; }
  div#reports table tr td ul {
    margin: 10px;
    -webkit-padding-start: 5px; }
  div#reports table tr td i {
    cursor: pointer; }

@media only screen and (max-width: 992px) {
  main,
  header {
    position: relative;
    width: 100%;
    margin-left: 0px !important; }
  nav ul.nav-list-right {
    position: absolute;
    top: 0;
    left: 81%;
    color: #999 !important; } }

.settings_tittle {
  color: #212121; }

hr {
  border-color: #ddd;
  border-width: 0.5px; }

p.title {
  color: #d81b60;
  border-bottom: 1px solid #ddd;
  font-size: 25px; }
  p.title:first-child {
    margin-top: 0; }

ul.versions {
  list-style-type: circle; }

#profilePage {
  padding-top: 20px; }
  #profilePage div.user-img {
    position: relative;
    background-image: url(../img/item-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%; }
    #profilePage div.user-img img {
      height: 88px;
      width: auto;
      cursor: pointer;
      border-radius: 50%; }
  #profilePage form {
    padding: 40px 20px; }

@media only screen and (max-width: 858px) {
  nav ul.nav-list-right {
    position: absolute;
    top: 0;
    left: 76%;
    color: #999 !important; } }

@-webkit-keyframes loadPage {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes loadPage {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
