<div id="dashboard" class="routePage" ng-controller="dashCtr">
    <!--<div class="header cyan">
        <h2 class="white-text">
            Create new order <br><small>choose Items below.</small>
        </h2>
        <button disabled class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
    </div>
    <div class="body">
-->
    <ul style="border-radius: 29px;" id="OrderCollapse" class="collapsible">
        <li class="active">
            <div style="border-top-right-radius: 29px;border-top-left-radius: 29px" class="collapsible-header">
                <div class="header white">
                    <h2 class="orange-text">
                        Create new order (Orders stop at {{settings.time_range.to}}) <br><small>click to create.</small>
                    </h2>
                </div>
            </div>
            <div style="border-bottom-right-radius:29px;border-bottom-left-radius:29px;position:relative" class="collapsible-body white">
                <!--Time up wrapper incase orders ends -->
                <div ng-show="end_orders" class="white-wrapper orders-wrap">
                    <div class="center">
                        <img src="img/Time_limit.png" alt="">
                        <h5 style="font-weight:bold;" class="red-text text-darken-4">Orders ended!, resumes again at {{settings.time_range.from}}</h5>
                    </div>
                </div>
                <!-- end of order disable wrapper -->
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">person</i>
                                <input ng-model="orderInv" id="orderInv" type="text" class="validate" disabled />
                                <label for="orderName" class="active">Invoice Number</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">date_range</i>
                                <input id="orderDate" type="text" disabled/>
                                <label class="active" for="orderDate">Order Date</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">airline_seat_legroom_extra</i>
                                <select ng-model="orderTableNumber" class="browser-default prefixed">
                                    <option ng-repeat="n in [].constructor(settings.tableNumber) track by $index" value="{{$index+1}}">Table {{$index+1}}</option>
                                </select>
                                <label class="active" for="orderDate">Select Table</label>
                            </div>
                        </div>
                        <small>Select Items</small>
                        <hr>
                        <div class="row">
                            <div class="col s12">
                                <div class="col s3 selected-items">
                                    <button data-target="viewSelectedORders" ng-disabled="currentOrder.items.length == 0" class="btn btn-block waves-effect waves-default orange modal-trigger">Items ({{currentOrder.items.length}})</button>
                                </div>
                                <div class="col s5">
                                    <div class="orderPriceDetails red white-text">
                                        <strong>Total Qty: <span>{{currentOrder.totalQuantity}}</span></strong>,
                                        <strong>Total Price: <span>{{currentOrder.totalPrice | currency : "XAF ":0}}</span></strong>
                                    </div>
                                </div>
                                <div class="searchBox input-field col s4">
                                    <i class="material-icons">search</i>
                                    <input onkeyup="searchOrderItems(event)" placeholder="Search.." class="browser-default" id="search" type="search" results=5 autosave=some_unique_value>
                                </div>
                            </div>
                            <div id="orderItems" class="col s12 scrollContainer">
                                <div style="display:none;" id="no-resultsOrder" class="no-results">
                                    <p>No results</p>
                                </div>
                                <div id="emptyItems" ng-show="products.items.length == 0" class="no-results grey lighten-4">
                                    <p>
                                        No Items <small>(Go to <strong>Products > Create Items</strong>)</small>
                                    </p>
                                </div>
                                <div ng-repeat="x in products.items track by $index" class="item z-depth-2">
                                    <div class="header">
                                        <div class="dark">
                                            <dl>
                                                <dt class="item-name">{{x.name}}</dt>
                                                <dd class="item-category">{{x.category}}</dd>
                                                <dd class="item-status">{{x.status}}</dd>
                                                <dd class="item-price">{{x.rate | currency : "XAF ":0}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="inputDiv">
                                            <button ng-disabled="x.added || !x.action" class="browser-default btns" ng-click="addOrderNumber($event,-1)"><i class="material-icons">remove</i></button>
                                            <input ng-disabled="x.added || !x.action" min="1" value="1" class="qty browser-default" type="number">
                                            <button ng-disabled="x.added || !x.action" class="btns" ng-click="addOrderNumber($event,1)"><i class="material-icons">add</i></button>
                                        </div>
                                        <button ng-hide="x.added" data-clicked="false" ng-click="addItem($event,$index)" ng-disabled="!x.action" class="footer-btn btn waves-effect waves-light bg-theme">Add</button>
                                        <button ng-show="x.added" data-clicked="true" ng-click="addItem($event,$index)" ng-disabled="!x.action" class=" btn waves-effect waves-light grey darken-1">
                                            remove
                                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 footer">
                            <div class="col s5 offset-s7">
                                <button ng-show="orderPrint" class="btn waves-effect waves-light brown darken-4"><i class="material-icons left">print</i>Print</button>
                                <button ng-click="createOrder()" ng-disabled="currentOrder.items.length == 0" class="btn waves-effect waves-light green darken-1 right"><i class="material-icons left">done</i>Complete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <!--End of main page-->
    <!--Cards -->
    <h5 class="section-heading red-text font-raleway">Activity panel</h5>
    <hr class="ruler">
    <div class="row">
        <div class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 pink white-text">
                           <i class="material-icons">shopping_basket</i>
                       </div>
                       <div class="icon-body col s9">
                         <div class="col s9">
                          <span>Today's orders</span><br>
                          <small>Orders recorded today</small>
                         </div>
                         <div class="col s3">
                           <h3 class="right pink-text">{{todaysCompletedOrders.length}}</h3>
                         </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div ng-show="currentUser.is_mgr" class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 orange white-text">
                            <i class="material-icons">date_range</i>
                       </div>
                       <div class="icon-body col s9">
                         <div class="col s9">
                             <span>All Orders</span><br>
                              <small>Total recorded</small>
                         </div>
                         <div class="col s3">
                            <h3 class="right orange-text">{{orders.length}}</h3>
                         </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div ng-show="currentUser.is_mgr" class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 blue white-text">
                            <i class="material-icons">local_dining</i>
                       </div>
                       <div class="icon-body col s9">
                          <div class="col s9">
                              <span>Menu items</span><br>
                              <small>All menu items</small>
                          </div>
                          <div class="col s3">
                           <h3 class="right blue-text">{{products.items.length}}</h3>
                          </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Next section: Table-->
    <h5 class="section-heading red-text font-raleway">Today's orders</h5>
    <hr class="ruler">
    <div class="row">
        <div class="col s12">
            <div class="white z-depth-2" style="margin:10px;padding: 25px;">
                <input class="table-search browser-default" type="search" placeholder="Search..." onkeyup="searchTable(event,'#todayOrdersTable')">
                <table class="huberts-tables">
                    <thead>
                       <th class="small">#</th>
                        <th>Inv num</th>
                        <th>Items</th>
                        <th>Cost</th>
                        <th>Time</th>
                        <th class="small">Status</th>
                        <th class="small">Action</th>
                    </thead>
                </table>
                <div id="dashboard_order_table" class="huberts-table-div">
                    <table id="todayOrdersTable">
                        <tbody>
                            <tr ng-repeat="x in todaysCompletedOrders | orderBy : 'id' : true ">
                               <td class="small">{{$index+1}}</td>
                                <td>{{x.name}}</td>
                                <td>
                                    <ul class="browser-default" style="list-style-type:circle;">
                                        <li ng-repeat="o in x.items">{{o.name}} <i class="green-text badge">{{o.quantity}}</i></li>
                                    </ul>
                                </td>
                                <td>{{x.totalPrice | currency:"FCFA ":0}}</td>
                                <td>{{Time(x.date)}}</td>
                                <td class="small" style="text-align:center;"><i class="material-icons green-text">check_circle</i></td>
                                <td class="small">
                                    <button class='btn teal waves-effect waves-light' data-target='dropdown1' ng-click="promptPrint(x)"><i class="material-icons">print</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Modals-->
    <div id="viewSelectedORders" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="box">
                <div class="header bg-theme-rev">
                    <h2 class="white-text">
                        Selected Items ({{currentOrder.items.length}})
                    </h2>
                    <a class="white-text right modal-close waves-effect waves-orange btn-flat"><i class="material-icons">close</i></a>
                </div>
                <div class="body">
                    <!--
                <table class="striped highlight centered">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th><i class="material-icons">build</i></th>
                    </thead>
                </table>
                -->
                    <div class="table-view">
                        <table class="centered">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in currentOrder.items">
                                    <td>{{$index+1}}</td>
                                    <td>{{x.name}}</td>
                                    <td>{{x.quantity}}</td>
                                    <td>{{x.category}}</td>
                                    <td class="green-text">{{x.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="centered">
                        <tfoot>
                            <th>Total:</th>
                            <th></th>
                            <th>Qty: {{currentOrder.totalQuantity}}</th>
                            <th></th>
                            <th class="green-text">Price: {{currentOrder.totalPrice | currency : "XAF ":0}}</th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="removeItem('deleteAll')" class="waves-effect waves-red btn-flat white-text red">clear all</a>
        </div>
    </div>
</div>
