<div id="dashboard" class="routePage" ng-controller="dashCtr">
    <!--<div class="header cyan">
        <h2 class="white-text">
            Create new order <br><small>choose Items below.</small>
        </h2>
        <button disabled class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
    </div>
    <div class="body">
-->
    <ul id="OrderCollapse" class="collapsible">
        <li class="active">
            <div class="collapsible-header head">
                <div class="header orange lighten-1">
                    <div class="row">
                        <div class="col s4">
                            <button class="btn-flat">
                                Orders stop at {{settings.time_range.to}}
                            </button>
                        </div>
                        <div class="col s4">
                            
                        </div>
                        <div class="col s4">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div style="position:relative" class="collapsible-body white">
                <!--Time up wrapper incase orders ends -->
                <div ng-show="end_orders" class="white-wrapper orders-wrap">
                    <div class="center">
                        <img src="img/Time_limit.png" alt="">
                        <h5 style="font-weight:bold;" class="red-text text-darken-4">Orders ended!, resumes again at {{settings.time_range.from}}</h5>
                    </div>
                </div>
                <!-- end of order disable wrapper -->
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">person</i>
                                <input ng-model="orderInv" id="orderInv" type="text" class="validate" disabled />
                                <label for="orderName" class="active">Invoice Number</label>
                            </div>
                            <div class="input-field col s4 center-align">
                                <button class="btn-flat red-border red-text">
                                    <strong>Total Qty: <span>{{currentOrder.totalQuantity}}</span></strong>,
                                    <strong>Total Price: <span>{{currentOrder.totalPrice | currency : "FCFA ":0}}</span></strong>
                                </button>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">date_range</i>
                                <input id="orderDate" type="text" disabled/>
                                <label class="active" for="orderDate">Order Date</label>
                            </div>
                        </div>
                        <!-- This is the section -->
                        <div class="row">
                            <div id="orderItems" class="col s12 scrollContainer" style="height:49vh;padding: 0;">
                                <div id="emptyItems" ng-show="ITEMS_COUNT == 0" class="no-results grey lighten-4">
                                    <p>
                                        No Items <small>(Go to <strong>Items > Create Items</strong>)</small>
                                    </p>
                                </div>
                                <div id="emptyCurrentItems" ng-show="currentOrder.items.length == 0" class="no-results grey lighten-4">
                                        <p>
                                            Type items by name to add
                                        </p>
                                </div>
                                <ul class="collection center-align">
                                        <li class="titles">
                                            <div class="row">
                                                <div class="col s1"></div>
                                                <div class="col s5">Name</div>
                                                <div class="col s2">Quantity</div>
                                                <div class="col s3">Price</div>
                                                <div class="col s1"></div>
                                            </div>
                                        </li>
                                    <li class="collection-item" ng-repeat="x in currentOrder.items track by $index">
                                        <div class="row">
                                            <div class="col s1">
                                                <img src="img/logo-round.png" class="circle">
                                            </div>
                                            <div class="col s5">
                                                <span class="title red-text">{{x.name}}</span>
                                            </div>
                                            <div class="col s2"><span>{{x.quantity}}</span></div>
                                            <div class="col s3 green-text"><span>{{x.price | currency:"FCFA ":0}}</span></div>
                                            <div class="col s1 red-text" style="cursor:pointer;"><i ng-click="removeItem($index)" class="material-icons">delete</i></div>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-repeat="x in products.items track by $index"></li>
                                </ul>
                                <!-- <div ng-repeat="x in products.items track by $index" class="item z-depth-2">
                                    <div class="header">
                                        <div class="dark">
                                            <dl>
                                                <dt class="item-name">{{x.name}}</dt>
                                                <dd class="item-category">{{x.category}}</dd>
                                                <dd class="item-status">{{x.status}}</dd>
                                                <dd class="item-price">{{x.rate | currency : "FCFA ":0}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="inputDiv">
                                            <button ng-disabled="x.added || !x.action" class="browser-default btns" ng-click="addOrderNumber($event,-1)"><i class="material-icons">remove</i></button>
                                            <input ng-disabled="x.added || !x.action" min="1" value="1" class="qty browser-default" type="number">
                                            <button ng-disabled="x.added || !x.action" class="btns" ng-click="addOrderNumber($event,1)"><i class="material-icons">add</i></button>
                                        </div>
                                        <button ng-hide="x.added" data-clicked="false" ng-click="addItem($event,$index)" ng-disabled="!x.action" class="footer-btn btn waves-effect waves-light bg-theme">Add</button>
                                        <button ng-show="x.added" data-clicked="true" ng-click="addItem($event,$index)" ng-disabled="!x.action" class=" btn waves-effect waves-light grey darken-1">
                                            remove
                                      </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div id="itemAdder" class="col s12">
                            <div class="row">
                                <div class="col s7 item-name" style="border-right:1px solid #ddd;">
                                    <div id="previewItems" class="z-depth-1">
                                        <ul class="collection">
                                            <li class="collection-item" id="previewItemsLoader"></li>
                                            <li class="collection-item avatar" ng-repeat="i in showPreviewItems track by $index" ng-click="selectItem($index)">
                                                <img src="img/logo-round.png" alt="" class="circle">
                                                <span class="title red-text"><strong>{{i.name}}</strong></span>
                                                <p>{{i.category}} <br>
                                                    <small class="green-text">{{i.rate | currency:"FCFA ":0}}</small>
                                                </p>
                                                <i class="green-text material-icons secondary-content">offline_pin</i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="header"><small>Item name</small></div>
                                    <div class="body">
                                        <textarea id="prevItemName" ng-keyup="getPreviewItems($event)" placeholder="Type item name..." cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col s2" style="border-right:1px solid #ddd;">
                                    <div class="header"><small>Price</small></div>
                                    <div class="body">
                                        <input type="number" id="prevItemRate" class="right browser-default" placeholder="Price" min="0" value="0" />
                                    </div>
                                </div>
                                <div class="col s2" style="border-right:1px solid #ddd;">
                                    <div class="header"><small>Quantity</small></div>
                                    <div class="body">
                                        <input type="number" id="prevItemQty" class="right browser-default" placeholder="Qty" value="1" min="1" />
                                    </div>
                                </div>
                                <div class="col s1">
                                    <div class="header"><small>Add</small></div>
                                    <div class="body" style="text-align:center;">
                                        <button ng-click="toCart()" class="btn-floating red waves-effect"><i class="material-icons">add_circle_outline</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 footer">
                            <div class="col s5 offset-s7">
                                <button ng-show="orderPrint" class="btn waves-effect waves-light brown darken-4"><i class="material-icons left">print</i>Print</button>
                                <button ng-click="showSaveOrder()" ng-disabled="currentOrder.items.length == 0" class="btn waves-effect waves-light green darken-1 right"><i class="material-icons left">done</i>Complete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <!--End of main page-->
    <!--Modals-->
    <!-- Print reciept modal -->
    <div id="printModal">
        <div class="content">
            <div class="body">
                <h4 class="green-text" style="margin:0;"><i class="material-icons" style="font-size:7.5rem;">check_circle</i></h4>
                <h5 class="green-text">New Order</h5>
                <p>Select recipient and click on save or save & print</p>
                <div class="input-field">
                    <select ng-model="order_waiter" style="border-color:#333;margin-bottom:2rem" class="browser-default" title="Select waiter/Waitress">
                        <option value="">Select recipient</option>
                        <option ng-repeat="user in users track by $index" value="{{user.name}}">{{user.name}}</option>
                    </select>
                </div>
                <div class="input-field">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" ng-model="ORDER_COMPARTMENTS" />
                            <span>Print order compartments</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="footer">
                <button ng-click="showSaveOrder(false)" class="btn red" style="position:absolute;left:40px;">Cancel</button>
                <button ng-click="createOrder(false)" class="btn orange" ng-disabled="order_waiter == ''" style="margin-right:.25rem;">Save</button>
                <button ng-click="createOrder(true)" class="btn green" ng-disabled="order_waiter == ''">Save & Print</button>
            </div>
        </div>
    </div>


    <!-- <div id="viewSelectedORders" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="box">
                <div class="header bg-theme-rev">
                    <h2 class="white-text">
                        Selected Items ({{currentOrder.items.length}})
                    </h2>
                    <a class="white-text right modal-close waves-effect waves-orange btn-flat"><i class="material-icons">close</i></a>
                </div>
                <div class="body">
                
                <table class="striped highlight centered">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th><i class="material-icons">build</i></th>
                    </thead>
                </table>
                
                    <div class="table-view">
                        <table class="centered">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in currentOrder.items track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>{{x.name}}</td>
                                    <td>{{x.quantity}}</td>
                                    <td>{{x.category}}</td>
                                    <td class="green-text">{{x.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="centered">
                        <tfoot>
                            <th>Total:</th>
                            <th></th>
                            <th>Qty: {{currentOrder.totalQuantity}}</th>
                            <th></th>
                            <th class="green-text">Price: {{currentOrder.totalPrice | currency : "FCFA ":0}}</th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="removeItem(null,'deleteAll')" class="btn-flat white-text red left">clear all</a>
        </div>
    </div> -->
</div>
