<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialicons/icone91f.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/waitMe.min.css">
    <link rel="stylesheet" href="sass/index.css">
    <script>
        var jQuery = require('jquery'),
            $ = require('jquery')

    </script>
    <script src="js/materialize.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular_route.js"></script>
</head>

<body>
    <section ng-app="mainApp" ng-controller="mainCtr" ng-cloak>
        <!-- Incase there is no manager/user -->
        <section id="managerial">
            <div class="head align-center">
                <img src="img/logo-round.png" alt="logo">
                <h6 class="red-text font-kaushan">Snapburger</h6>
            </div>
            <div class="center">
                <h4 class="font-fira orange-text align-center">Set up a Managerial Account</h4>
                <div class="tab-indicators">
                    <span class="indicator grey active"></span>
                    <span class="indicator grey"></span>
                </div>
                <div class="row">
                    <div class="col s4 img-upload">
                        <div class="hover">
                            <!--<input type="file" tabindex="-1" style="display:none;" id="managerialImgInput" accept="image/*">-->
                            <img src="img/manager.png" id="managerialImg" alt="">
                        </div>
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <form action="#" id="createManagerialForm">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input placeholder="Name(s)" ng-model="createManagerialFormInputName" type="text" class="validate">
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input placeholder="Password" type="password" ng-model="createManagerialFormPassword" class="validate">
                                </div>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" checked="checked" disabled />
                                            <span>I own/manage this organization.</span>
                                        </label>
                                </p>
                                <button id="createMgrBtn1" type="button" ng-disabled="!createManagerialFormPassword || !createManagerialFormInputName" class="btn bg-theme-rev waves-effect waves light"><i class="material-icons right" ng-click="createManagerFxn(true)">arrow_forward</i>Proceed</button>
                                <button id="createMgrBtn2" type="button" ng-disabled="!createManagerialFormPassword || !createManagerialFormInputName" class="btn bg-theme waves-effect waves light"><i class="material-icons right">arrow_forward</i>Create</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <button id="closeLoginBtn" class="btn white black-text cancel waves-effect waves-default right">Cancel</button>
        </section>
        <!--loading icon to fetch database -->
        <section id="dataDbCheck">
            <div class="center">
                <h3 align="center" class="orange-text font-amar"><img class="left" style="width:55px;height:55px" src="img/logo-round.png" alt=""><span>SnapBurger</span></h3>
                <img style="width:75px;height:75px;" src="img/Cloud%20Storage.png" alt="">
                <h4 class="teal-text">Checking for back up...</h4>
                <div>
                    <img style="width:25px;height:25px;" src="img/Synchronize.png" class="spin" alt="">
                </div>
                <p id="DBcheckstatusText">Please don't quit app during this process.</p>
            </div>
        </section>
        <!-- login page-->
        <section id="login">
            <div class="bg-dark">
                <!-- Login Form -->
            <div class="center">
                <form action="action" id="loginForm" class="">
                    <img src="img/logo-round.png" alt="">
                    <div class="row" id="appLoader">
                        <div id="loginInputs" style="visibility:hidden;">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input placeholder="User name" ng-model="usernameLogin" type="text" class="validate browser-default">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input ng-model="passwordLogin" placeholder="Password" type="password" class="validate browser-default">
                            </div>
                            <button style="margin-top: 15px;" ng-disabled="users.length == 0" class="bg-theme btn waves-effect waves-light" type="submit" name="action">Login
                            <i class="material-icons right">arrow_forward</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <p id="copyright_p" class="copyright"></p>
            </div>
        </section>
        <!-- Main nav -->
        <nav class="nav-extended z-depth-1" id="title-bar">
            <div class="nav-wrapper">
              <a href="javascript:void(0)" class="brand-logo"><img src="img/logo-round.png" class="nav-img"> SnapBurger <small class="powered">powered by <span>nudle</span></small></a>
              <a href="javascript:void(0)" data-target="sideNav" class="sidenav-trigger""><i class="material-icons">menu</i></a>
              <!-- routes links -->
              <!-- <ul class="routes_ul"></ul> -->
              <!--  -->
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  
                <li class="route_links"><a id="dashboardLink" class="sideNavLink" href="#!">Sales</a></li>
                <li class="route_links"><a href="#!items" id="productsLink" class="sideNavLink">Items</a></li>
                <li class="route_links"><a href="#!today" id="todaysLink" class="sideNavLink">Daily sales</a></li>
                <li class="route_links"><a href="#!reports" class="sideNavLink" id="reportsLink">Reports</a></li>
                <li ng-if="currentUser.is_mgr" class="route_links"><a href="#!emp" class="sideNavLink" id="staffLink">Employees</a></li>
              
                <li><a href="javascript:void(0)">
                    <button class="btn-flat rounded-btn">
                        <i style="height:unset;line-height:unset;" class="material-icons left">account_circle</i> {{currentUser.name}}
                    </button>
                </a></li>
                <li><a href="#!settings" id="settingsLink" title="Settings"><i class="material-icons">settings</i></a></li>
                <li ng-if="currentUser.is_mgr">
                    <a ng-if="!SETTINGS.connect_host" href="javascript:void(0)" ng-click="connectToHost(true)" title="connect to host"><i class="material-icons">cast</i></a>
                    <a ng-if="SETTINGS.connect_host" href="javascript:void(0)" ng-click="connectToHost(false)" title="disconnect from host"><i class="material-icons">cast_connected</i></a>
                </li>
                  <li ng-if="currentUser.is_mgr">
                    <a ng-if="SETTINGS.connect_host" href="javascript:void(0)" ng-click="refreshDB()" title="refresh data"><i class="material-icons">refresh</i></a>
                  </li>
                <li><a href="javascript:void(0)" ng-click="logOut()" title="Log out"><i class="material-icons">exit_to_app</i></a></li>
              </ul>
            </div>
            <!-- <div class="nav-content">
              
            </div> -->
          </nav>
        <!-- main section -->
        <!-- <header>
            <nav class="navbar z-depth-1 bg-theme-pink">
                <a draggable="false" href="javascript:void(0)" data-target="slide-out" class="show-on-medium-and-down sidenav-trigger white-text"><i class="material-icons">menu</i></a>
                <a draggable="false" href="javascript:void(0)" class="logo-link white-text"><img src="img/logo-round.png" alt="logo"> <span>Snapburger</span></a>
            </nav>
        </header> -->
        <main id="main">
            <section id="body" ng-view></section>
        </main>
        <footer>
            <div class="row">
                <div class="col s3">
                    <span id="leftStatus">Left status</span>
                </div>
                <div class="col s3">
                    <div id="footer_progress_container" class="progress">
                        <div id="footer_progress" class="determinate" style="width:0%"></div>
                    </div>
                </div>
                <div class="col s3"></div>
                <div class="col s3 right-align">
                    <span id="rightStatus">Right status</span>
                </div>
            </div>
        </footer>
        <!--  notifications-->
        <div class="notify grey darken-4 waves-light" id="success">
            <div class="head">
                <img src="img/notify-success.png" alt="success">
            </div>
            <div class="body">
                <h6 class="title green-text"></h6>
                <span class="msg"></span>
                <hr class="border">
                <button class="close right btn-flat"><i class="material-icons left">clear</i>close</button>
            </div>
        </div>
        <div class="notify grey darken-4 waves-light" id="error">
            <div class="head">
                <img src="img/notify-failed.png" alt="failed">
            </div>
            <div class="body">
                <h6 class="title red-text"></h6>
                <span class="msg"></span>
                <hr class="border">
                <button class="close right btn-flat"><i class="material-icons left">clear</i>close</button>
            </div>
        </div>
        <!--notification sounds -->
        <audio id="alertNotificationSound" src="assets/alert.wav"></audio>
        <!-- Modals -->
        <div id="withdrawMoney" class="modal modal-fixed-footer pink-text">
            <form id="createRedrawalForm">
                <div class="modal-content">
                    <h5 align="center"><i class="material-icons small">account_balance_wallet</i>REDRAW MONEY</h5>
                    <div class="input-field">
                        <select class="browser-default" id="redrawCategory" ng-model="redrawCategory">
                           <option value="" disabled>Select category</option>
                            <option value="Fast Food">Fast Food</option>
                            <option value="Bar">Bar</option>
                            <option value="Ice cream">Ice cream</option>
                            <option value="Shisha">Shisha</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="input-field">
                       <textarea ng-model="redrawReason" id="reason_for_redraw" class="materialize-textarea"></textarea>
                        <label for="reason_for_redraw" class="active">Reason for Redraw:</label>
                    </div>
                    <div class="input-field">
                        <input ng-model="redrawReciever" id="redrawReciever" type="text" class="validate">
                        <label for="redrawReciever" class="active">Withdraw reciever:</label>
                    </div>
                    <h5>Amount: {{redrawAmount | currency:"FCFA ":0}}</h5>
                    <div class="input-field">
                        <input id="amount" type="number" ng-model="redrawAmount" class="validate">
                        <label for="amount" class="active">Amount:</label>
                        <span class="helper-text" data-error="Invalid value"></span>
                    </div>
                </div>
                <div class="modal-footer pink darken-2">
                    <button type="button" class="modal-close waves-effect waves-green btn-flat white-text">Cancel</button>
                    <button type="submit" class="waves-effect waves-green btn-flat white-text">Redraw</button>
                </div>
            </form>
        </div>
        <!-- FAB-->
        <button style="display: none;" id="withdrawalModalTrigger" data-target="withdrawMoney" class="btn-floating pink modal-trigger"><i class="material-icons">account_balance_wallet</i></button>
        <!--   password modal-->
        <div id="promptPasword" class="modal">
            <form action="#">
                <div class="modal-content">
                    <h4>{{passwordPromptTitle}}</h4>
                    <p>Enter password to confirm this action</p>
                    <input ng-model="promptPasswordInput" class="browser-default" type="password" placeholder="Enter password" autofocus>
                </div>
                <div class="modal-footer red">
                    <button class="btn-flat waves-effect waves-default white-text">Okay</button>
                    <a draggable="false" class="modal-close waves-effect waves-default btn-flat white-text">Cancel</a>
                </div>
            </form>
        </div>
    </section>
    <script>
        document.getElementById('copyright_p').innerHTML = `&copy;${new Date().getFullYear()} A production of Silverslopescm. All rights reserved <p class="center-align"><small>Powered by Nudle</small></p>`;

    </script>
    <script src="js/chart.js"></script>
    <script src="js/waitMe.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/sweetalert.js"></script>
    <script src="js/socket.io-min.js"></script>
    <!--controllers-->
    <script src="js/controller.js"></script>
    <script src="js/dash-controller.js"></script>
    <script src="js/today-controller.js"></script>
    <script src="js/items-controller.js"></script>
    <script src="js/staff-controller.js"></script>
    <script src="js/reports-controller.js"></script>
    <script src="js/profile-controller.js"></script>
    <script src="js/settings-controller.js"></script>
    <!--export table js -->
    <!--<script src="js/xlsx.core.min.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="js/tableexport.min.js"></script>-->
</body>

</html>
