<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SnapBurger CMS</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialicons/icone91f.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/dataTable.material.css">
    <link rel="stylesheet" href="css/index.css">
    <script>
        var jQuery = require('jquery'),
            $ = require('jquery')

    </script>
    <script src="js/materialize.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
</head>

<body>
    <section ng-app="mainApp" ng-controller="mainCtr">
        <!-- login page-->
        <section id="login" class="white">
            <div class="center">
                <form action="action" id="loginForm" class="">
                    <img src="img/logo-round.png" alt="">
                    <div class="row">
                        <div id="loader">
                            <div class="progress">
                                <div class="determinate bg-theme"></div>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input class="browser-default" placeholder="User name" id="username" type="text" ng-model="usernameInput" class="validate">
                        </div>
                        <div class="input-field col s12">
                            <input class="browser-default" id="password" placeholder="Password" type="password" ng-model="passwordInput" class="validate">
                        </div>
                        <button ng-disabled="users.length == 0" class="btn waves-effect waves-light" type="submit" name="action">Login
                    <i class="material-icons left">person</i>
                  </button>
                    </div>
                </form>
            </div>
            <p class="copyright">&copy;
                <script>
                    document.write(new Date().getFullYear())

                </script> A production of Silverslopescm. All rights reserved</p>
        </section>
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background">

                    </div>
                    <div class="row dropdown-trigger" data-target="user_dropdown">
                        <div class="img-div col s6">
                            <a href="#user"><img class="circle" src="img/user-grey.png"></a>
                        </div>
                        <div class="col s6 text-div" style="transform: translateY(-14px)">
                            <a href="javascript:void(0)" class="name-link"><span class="grey-text name">{{currentUser.name}} <i class="material-icons grey-text">keyboard_arrow_down</i></span></a>
                            <!--More options -->
                            <ul id="user_dropdown" class='dropdown-content'>
                                <li><a href="javascript:void(0)"><i class="material-icons">person</i>Profile</a></li>
                                <li><a href="javascript:void(0)"><i class="material-icons">settings</i>settings</a></li>
                                <li class="divider" tabindex="-1"></li>
                                <li><a ng-click="logOut()" href="javascript:void(0)"><i class="material-icons">power_settings_new</i>Log out</a></li>
                            </ul>
                            <a href="javascript:void(0)" class="email-link"><span class="grey-text email">@SnapBurger</span></a>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="sideNavLink" id="dashboardLink" href="#/!"><i class="material-icons">dvr</i>Dashboard</a></li>
            <li><a href="#!items" class="sideNavLink"><i class="material-icons">dns</i>Products</a></li>
            <li><a href="#!settings" class="sideNavLink"><i class="material-icons">settings</i>Settings</a></li>
            <!--HIDE THIS SECTION TO REGULAR USERS -->
            <div ng-show="currentUser.is_mgr">
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="sideNavLink" class="subheader">Admin</a></li>
                <li><a class="sideNavLink" href="#!reports"><i class="material-icons">insert_chart</i>Reports</a></li>
                <li><a class="sideNavLink" href="#!emp"><i class="material-icons">people</i>Staff</a></li>
            </div>
        </ul>
        <!-- main section -->
        <header>
            <nav class="navbar z-depth-2 white">
                <a href="javascript:void(0)" data-target="slide-out" class=".show-on-medium-and-down sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="javascript:void(0)" class="logo-link"><img src="img/logo-round.png" alt="logo"> <span>Snaburger</span></a>
                <form action="#" id="nav-form">
                    <i class="material-icons search">search</i>
                    <input type="search" autofocus name="search" id="" placeholder="Search..">
                    <div class="close-search" onclick="showSearchBar(false)">
                        <i class="material-icons">close</i>
                    </div>
                </form>
                <ul class="nav-list-right">
                    <li onclick="showSearchBar(true)"><a href="javascript:void(0)"><i class="material-icons">search</i> </a></li>
                    <li><a href="javascript:void(0)" ng-click="logOut()"><i class="material-icons">power_settings_new</i></a></li>
                    <li><a disabled id="syncBtn" href="javascript:void(0)" title="Sync"><i class="material-icons">sync</i></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="body" ng-view></section>
        </main>
        <!--  notifications-->
        <div class="notify green accent-4 waves-light" id="success"><span class="msg"></span><i class="yellow-text font-raleway">close</i></div>
        <div class="notify red accent-4 waves-light" id="error"><span class="msg"></span><i class="yellow-text font-raleway">close</i></div>

        <!-- Context menu-->
        <ul class="collection" id="context-menu">
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
        </ul>
        <!-- Modals -->
        <!--   password modal-->
        <div id="promptPasword" class="modal">
            <form action="#">
                <div class="modal-content">
                    <h4>{{passwordPromptTitle}}</h4>
                    <p>Enter password to confirm this action</p>
                    <input ng-model="promptPasswordInput" class="browser-default" type="password" placeholder="Enter password" autofocus>
                </div>
                <div class="modal-footer red">
                    <button class="btn-flat waves-effect waves-default white-text">Okay</button>
                    <a class="modal-close waves-effect waves-default btn-flat white-text">Cancel</a>
                </div>
            </form>
        </div>
    </section>
    <!--<script src="dist/dataTables/datatables.min.js"></script>-->
    <script src="js/waitMe.min.js"></script>
    <script src="js/sweetalert.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/dash-controller.js"></script>
    <script src="js/items-controller.js"></script>
    <script src="js/staff-controller.js"></script>
</body>

</html>
