<!--
=================================================
** ISSUES TO FIX :
    1. ng-model does not update until 'onchange'
    2.Refresh Datable
    3.Category with status unavailable should be disabled in other selects
===================================================
-->
  <div class="routePage" ng-controller="itemsCtr">
   <!--Categories box -->
    <div class="box">
        <div class="header green darken-2">
            <h2 class="white-text">
                Categories<br><small>Manage categories</small>
            </h2>
        </div>
        <div class="body">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">add</i>Create Category</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form action="#" id="createCategoryForm" class="col s12" name="categoriesForm">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input data-error="Invalid Name" id="category_name" type="text" name="category_name" ng-model="category_name" class="validate">
                                        <label for="category_name">Category Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <label style="transform: translateY(-21px);" for="category_status">Status</label>
                                        <select class="browser-default" name="category_status" ng-model="category_status" class="validate" id="category_status">
                                            <option value="available">Available</option>
                                            <option value="unavailable">Unavailable</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="categories_error red-text"></span>
                                <button type="submit" style="float:right" class="waves-effect waves-light btn green darken-3">Add</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <table id="categories" class="mdl-data-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Category name</th>
                        <th>status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!--Item box -->
    <div class="box">
        <div class="header teal darken-2">
            <h2 class="white-text">
                Items <br><small>Manage products</small>
            </h2>
        </div>
        <div class="body">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">add</i>Create Item</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form action="#" id="createItemForm" class="col s12" name="itemForm">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input data-error="Invalid Name" id="item_name" type="text" name="item_name" ng-model="item_name" class="validate">
                                        <label for="item_name">Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <label style="transform: translateY(-21px);" for="item_status">Status</label>
                                        <select class="browser-default" name="item_status" ng-model="item_status" class="validate" id="item_status">
                                            <option value="available">Available</option>
                                            <option value="unavailable">Unavailable</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="row">
                                            <div class="col s2 teal darken-1" style="transform: translateY(10px);text-align: center;color:#fff;padding:6px 10px;">FCFA</div>
                                            <div class="col s10">
                                                <div class="input-field" style="transform: translateY(-15px);">
                                                    <input data-error="Invalid Rate" id="item_rate" type="number" name="item_rate" ng-model="item_rate" class="validate">
                                                    <label for="item_rate">Rate</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <select name="item_category" ng-model="item_category" id="#"  class="browser-default">
                                                <option value="" selected disabled>Select category</option>
                                                <option ng-disabled="!x.action" ng-repeat="x in categories" value="{{x.name}}">{{x.name}}</option>
                                            </select>
                                    </div>
                                </div>
                                <span class="item_error red-text"></span>
                                <button type="submit" style="float:right" class="waves-effect waves-light btn teal darken-2">Add</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>

            <table id="items" class="mdl-data-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Rate</th>
                        <th>Category</th>
                        <th>status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>



    <!--Modal: Update categories! -->
    <div id="updateCategoryModal" class="modal modal-fixed-footer">
      <form class="col s12">
        <div class="modal-content">
            <div class="header green darken-2">
                <h2 class="white-text">
                    Categories<br><small>Update</small>
                </h2>
            </div>
            <div class="inner-body">
                <div class="row">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="updateCategory_name" ng-model="updateCategories.name" placeholder="Name" type="text">
                            </div>
                            <div class="input-field col s6">
                                <label style="transform: translateY(-21px);" for="updateCategory_status">Status</label>
                                <select ng-model="updateCategories.status" class="browser-default" name="updateCategory_status" id="updateCategory_status">
                                   <option value="">Select Status</option>
                                    <option value="available">Available</option>
                                    <option value="unavailable">Unavailable</option>
                                </select>
                            </div>
                        </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button ng-disabled="updateCategoriesBtn" id="updateCategoriesBtn" href="javascript:void(0)" class="waves-effect waves-green btn-flat green white-text">Update</button>
        </div>
       </form>
    </div>
    <!--Modal: Update Items -->
    <div id="updateItemsModal" class="modal modal-fixed-footer">
        <form action="#" id="updateItemsForm">
            <div class="modal-content">
                <div class="header teal darken-2">
                    <h2 class="white-text">
                        Update Items<br><small>change</small>
                    </h2>
                </div>
                <div class="inner-body">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" ng-model="updateItems.name" placeholder="Name" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <label style="transform: translateY(-21px);" for="updateItems_status">Status</label>
                            <select ng-model="updateItems.status" class="browser-default" name="updateItems_status" id="updateItems_status">
                                    <option value="available">Available</option>
                                    <option value="unavailable">Unavailable</option>
                                </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="row">
                                <div class="col s2 teal darken-1" style="transform: translateY(10px);text-align: center;color:#fff;padding:6px 10px;">FCFA</div>
                                <div class="col s10">
                                    <div class="input-field" style="transform: translateY(-15px);">
                                        <input id="updateItem_rate" type="number" name="item_rate" ng-model="updateItems.rate" class="validate">
                                        <label for="updateItem_rate">Rate</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <select name="item_category" ng-model="updateItems.category" id="#" class="browser-default">
                                <option value="" selected disabled>Select category</option>
                                <option ng-repeat="x in categories" value="{{x.name}}" ng-disabled="!x.action">{{x.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12">
                        <button type="button" class="waves-effect waves-default btn btn-block red darken-3">Delete</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                <button ng-disabled="updateItemsBtn" id="updateCategoriesBtn" href="javascript:void(0)" class="waves-effect waves-green btn-flat teal white-text">Update</button>
            </div>
        </form>
    </div>


</div>
