<div id="profilePage" class="routePage white" ng-controller="profileCtr">
       <p class="align-center grey-text">Review and update personal info</p>
    <div class="row">
        <div class="col s4">
            <div class="user-img z-depth-1">
                <div class="dark-wrapper">
                </div>
                <div class="center">
                    <img src="{{profile_pic}}" id="Image" alt="profile">
                    <p class="white-text">
                        <span>{{currentUser.name}}</span><br>
                        <span>{{currentUser.position}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s8">
            <form action="" class="z-depth-2" name="form">
               <!--Input img -->
               <input type="file" accept="image/*" id="profileImg" style="display:none;">
               <!--the rest -->
                <div class="input-field">
                    <input id="first_name" type="text" class="validate" ng-model="currentUser.name">
                    <label class="active" for="first_name">Name</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" ng-model="currentUser.password">
                    <label class="active" for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="text" id="position" ng-model="currentUser.position">
                    <label class="active" for="position">Position</label>
                </div>
                <div class="input-field">
                    <input type="text" id="salary" ng-model="currentUser.salary">
                    <label class="active" for="salary">Salary</label>
                </div>
                <div class="input-field">
                    <p id="startDate">{{toDate(currentUser.startDate)}}</p>
                    <label class="active" for="startDate">Start Date</label>
                </div>
                <button id="updateUser" type="button" class="bg-theme btn"><i class="material-icons right">done</i>Update</button>
            </form>
        </div>
    </div>
</div>
