<div id="reports" class="routePage white" ng-controller="reportsCtr" style="margin-top:68px;padding:0px;padding-bottom: 40px;">
    <div class="row">
        <!-- Orders Reports! -->
        <div id="ordersReports" class="white col s12">
            <div class="chart">
                <div id="orderChart" style="height: 280px;background:#fff;"></div>
            </div>
            <div class="body" style="margin-top:50px;border-top:1px solid #999">
                <!--<button ng-click="update()" class="btn right waves-effect waves-light">Update</button>-->
                <div class="row">
                    <div class="col s3 pr-0 date-review">
                            <input class="browser-default" type="search" placeholder="Search.." ng-keyup="searchOrders($event)">
                        <div class="table-div">
                           <div class="searchDate">
                            </div>
                            <div class="collection" id="collection">
                                <a ng-repeat="a in uniqueDateOrders" href="javascript:void(0)" class="collection-item grey-text text-darken-4" ng-click="filterOrdersView(a)"><i class="material-icons left">date_range</i>{{cleaner(a)}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s9">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Items</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Staff</th>
                                <th>Time</th>
                                <th class="small"><i class="material-icons">delete_forever</i></th>
                            </thead>
                        </table>
                        <div class="table-div">
                            <table id="allOrders" class="huberts-table">
                                <tbody>
                                    <tr ng-repeat="x in orders" data-date="{{toDate(x.date)}}">
                                        <td>{{x.name}}</td>
                                        <td>
                                            <ul class="browser-default">
                                                <li ng-repeat="o in x.items">{{o.name}}</li>
                                            </ul>
                                        </td>
                                        <td>{{x.totalPrice}}</td>
                                        <td>{{x.totalQuantity}}</td>
                                        <td>{{x.staff}}</td>
                                        <td>{{toTime(x.date)}}</td>
                                        <td class="small"><i ng-click="deleteOrder($index)" class="material-icons">delete</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products Reports! -->
        <!--<div id="productsReports" class="white col s12">Test 2</div>-->
        <!-- Staff Reports! -->
        <!--<div id="staffReports" class="white col s12">Test 3</div>-->
    </div>



    <!--    -->
</div>
