<div id="reports" class="routePage white" ng-controller="reportsCtr" style="padding:0px;margin:0;">
<div class="page-header">
    <div class="row">
        <div class="col s3">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#home">History</a></li>
                <li class="tab col s6"><a href="#activity">Activity</a></li>
            </ul>
        </div>
        <div class="col s6 center-align">
            <button class="btn-flat red-border red-text">Showing reports of <strong>{{REPORTS.date_range}}</strong></button>
        </div>
        <div class="col s3 right-align">
                <span>Select date</span>
                <select title="Select Date" class="browser-default" ng-model="FILTER_DATE" ng-change="filterResult()">
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="custom">Custom</option>
                </select>
                <!--select date-->
            <button ng-click="openDateModal()" class="btn-flat"><i class="material-icons">date_range</i></button>
        </div>
    </div>
</div>

<!-- body where everything happens -->
<div id="reports-body" class="page-body">
    <!--overlay-->
    <div id="no_records" class="overlay" style="z-index:15;">
        <div class="center">
            <h3>No records found</h3>
            <ul>
                <li>There was no activity on the date interval</li>
            </ul>
        </div>
    </div>

    <div id="home" class="body-pager h-full">
        <div class="row h-full">
            <div class="col s3 h-full p-0">
                <div class="categories-data">
                    <ul class="collection with-header b-0" style="margin:0;">
                        <li ng-click="showPreviewItems(0, true)" style="cursor: pointer;" class="collection-header"><h4 class="red-text">Sales History</h4></li>
                        <li ng-click="showPreviewItems($index)" style="cursor: pointer;" class="collection-item avatar" ng-repeat="i in REPORTS.categorical track by $index">
                            <i class="material-icons circle red">ac_unit</i>
                            <span class="title red-text" style="font-size: 1.3rem;font-weight: 500;">{{i.name}}</span>
                            <p><span class="green-text" style="font-weight: 500;">{{i.amount | currency:"FCFA ":0}}</span> <br>
                                <span>{{i.quantity}} {{(i.quantity === 1)?'item':'items'}} sold</span> <br>
                                 <small>{{i.date}}</small>
                            </p>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                    </ul>
                </div>
            </div>
            <!--cards and reports-->
            <div class="col s9 p-0 h-full" style="position: relative;">
                <!-- Overlay for preview -->
                <div id="preview-items"  class="preview-overlay">
                    <div class="row" style="height: 22%;padding-top: 15px;">
                        <div class="col s6 h-full">
                            <h3 class="red-text">{{currentCategoryReport.name}}</h3>
                        </div>
                        <div class="col s3 h-full">
                            <div class="card m-0 orange white-text">
                                <div class="card-content" style="padding: 11px 25px;">
                                    <span>Sales</span>
                                    <span style="font-weight:400" class="card-title">{{currentCategoryReport.amount | currency:"FCFA ":0}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s3 h-full">
                            <div class="card m-0 red white-text">
                                <div class="card-content" style="padding: 11px 25px;">
                                    <span>Items sold</span>
                                    <span style="font-weight:400" class="card-title">{{currentCategoryReport.quantity | currency:"":0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 78%;">
                        <!--<div class="right-align" style="height: 12%;padding: 10px;">-->
                        <!--<input ng-keyup="searchOrders($event)" style="padding:5px 10px;" title="search orders" type="search" id="" class="browser-default" placeholder="Search orders..">-->
                        <!--</div>-->
                        <div class="table-div" style="height:100%;padding: 0;position:relative;">
                            <div class="overlay" style="display: block;" ng-show="currentCategoryReport.items.length === 0">
                                <div class="center" style="font-family: Inconsolata"><h4>No items sold.</h4></div>
                            </div>
                            <table class="highlight centered">
                                <thead>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Rate</th>
                                    <th>Qty sold</th>
                                    <th>Amount</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in currentCategoryReport.items track by $index">
                                    <td>{{item.name}}</td>
                                    <td style="font-weight: 700;">{{item.category}}</td>
                                    <td>{{item.rate | currency:"FCFA ":0}}</td>
                                    <td style="font-weight: 600;" class="orange-text text-darken-3">{{item.quantity | currency:"":0}}</td>
                                    <td style="font-weight: 700;" class="green-text">{{item.price | currency:"FCFA ":0}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="row" style="height: 22%;padding-top: 15px;">
                    <div class="col s12">

                        <div class="col s4 h-full">
                            <div class="card m-0 green white-text">
                                <div class="card-content" style="padding: 11px 20px;">
                                    <span>All orders ({{REPORTS.filter.all.number | currency:"":0}})</span>
                                    <span style="font-weight:400" class="card-title">{{REPORTS.filter.all.amount | currency:"FCFA ":0}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s4 h-full">
                            <div class="card m-0 red white-text">
                                <div class="card-content" style="padding: 11px 20px;">
                                    <span>Uncompleted orders <span class="bob">({{REPORTS.filter.unCompleted.number | currency:"":0}})</span></span>
                                    <span style="font-weight:400" class="card-title">{{REPORTS.filter.unCompleted.amount | currency:"FCFA ":0}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s4 h-full">
                            <div class="card m-0 blue white-text">
                                <div class="card-content" style="padding: 11px 20px;">
                                    <span>Completed orders ({{REPORTS.filter.completed.number | currency:"":0}})</span>
                                    <span style="font-weight:400" class="card-title">{{REPORTS.filter.completed.amount | currency:"FCFA ":0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 78%;position: relative;" ng-init="filter = 'all'">
                    <!--preview order-->
                    <div ng-show="showCurrentOrderPane" id="previewOrder" class="overlay" style="display:block;border-top: 1px solid #ddd;">
                        <div class="row" style="height: 15%;">
                            <div class="col s12" style="height: 45%;"> <button ng-click="showCurrentOrderPane = !showCurrentOrderPane" class="red-text btn-flat"><i class="material-icons left">arrow_back</i>Back</button></div>
                            <div class="col s3 center-align" style="height:55%;">
                                <!--<button ng-if="currentOrder.completed" class="btn red">Mark as uncompleted</button>-->
                                <!--<button ng-if="!currentOrder.completed" class="btn green">Mark as completed</button>-->
                            </div>
                            <div class="col s6 center-align" style="height:55%;"><img src="img/logo.png" style="height:100%;width: auto;" alt=""></div>
                            <div class="col s3 center-align" style="height:55%;">
                                <button ng-if="!currentOrder.completed" class="btn-flat red-text"><i class="material-icons left">indeterminate_check_box</i> uncompleted</button>
                                <button ng-if="currentOrder.completed" class="btn-flat green-text"><i class="material-icons left">check_circle</i> completed</button>
                            </div>
                        </div>
                        <div class="row" style="height:15%">
                            <div class="col s2">
                                <small style="font-weight: 700;">Date</small>
                                <p style="margin-top: 0.2rem;">{{currentOrder.date}}</p>
                            </div>
                            <div class="col s2">
                                <small style="font-weight: 700;">Amount</small>
                                <p style="margin-top: 0.2rem;" class="green-text">{{currentOrder.totalPrice | currency:"FCFA ":0}}</p>
                            </div>
                            <div class="col s2">
                                <small style="font-weight: 700;">T.Quantity</small>
                                <p style="margin-top: 0.2rem;">{{currentOrder.totalQuantity}}</p>
                            </div>
                            <div class="col s3">
                                <small style="font-weight: 700;">Waiter</small>
                                <p style="margin-top: 0.2rem;" class="red-text">{{(currentOrder.waiter === undefined)?'(no user)':currentOrder.waiter}}</p>
                            </div>
                            <div class="col s3">
                                <small style="font-weight: 700;">Inv</small>
                                <p style="margin-top: 0.2rem;">{{currentOrder.inv}}</p>
                            </div>
                        </div>
                        <div class="table-div" style="height:70%;padding: 0;position:relative;">
                            <!--<div class="overlay" style="display: block;" ng-show="currentCategoryReport.items.length === 0">-->
                                <!--<div class="center" style="font-family: Inconsolata"><h4>No items sold.</h4></div>-->
                            <!--</div>-->
                            <table class="highlight centered">
                                <thead>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Rate</th>
                                <th>Qty sold</th>
                                <th>Amount</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in currentOrder.items track by $index">
                                    <td>{{item.name}}</td>
                                    <td style="font-weight: 700;">{{item.category}}</td>
                                    <td>{{item.rate | currency:"FCFA ":0}}</td>
                                    <td style="font-weight: 600;" class="orange-text text-darken-3">{{item.quantity | currency:"":0}}</td>
                                    <td style="font-weight: 700;" class="green-text">{{item.price | currency:"FCFA ":0}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="right-align" style="height: 12%;padding: 10px;">
                        <div class="row">
                            <div class="col s6">
                                <span>Filter: </span>
                            </div>
                            <div class="col s3">
                                <select title="Fileter" style="width: 100%;height: 2.5rem;border-color: #999999;" class="browser-default" ng-model="filter">
                                    <option value="all">All</option>
                                    <option value="true">Completed</option>
                                    <option value="false">Uncompleted</option>
                                </select>
                            </div>
                            <div class="col s3">
                                <input onkeyup="searchTable(event,'#orders_table')" style="padding:5px 10px;width:100%;" title="search orders" type="search" id="" class="browser-default" placeholder="Search orders..">
                            </div>
                        </div>
                    </div>
                    <div class="table-div" style="height: 88%;">
                        <table id="orders_table" class="highlight centered">
                            <thead>
                                <th style="width:4%;">#</th>
                                <th>Date/Time</th>
                                <th>Amount</th>
                                <th style="width:5%">Qty</th>
                                <th>Waiter</th>
                                <th>Cashier</th>
                                <th>Inv</th>
                                <th ng-if="currentUser.is_mgr" style="width:4%"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in REPORTS.orders | orderBy:'id':'false'" class="lighten-5" ng-click="showCurrentOrder($event, order.id)"
                                    ng-class="(order.completed)?'green':'red'" ng-if="filter == 'all' || filter == order.completed.toString()">
                                    <td style="width:4%;">
                                        <label>
                                            <input ng-change="onCompleteOrders(order)" type="checkbox" class="filled-in" ng-model="order.completed" />
                                            <span class="checkbox"></span>
                                        </label>
                                    </td>
                                    <td>{{toDate(order.date)}}</td>
                                    <td class="green-text">{{order.totalPrice | currency:"FCFA ":0}}</td>
                                    <td>{{order.totalQuantity | currency:"":0}}</td>
                                    <td class="red-text">{{(order.waiter === undefined)?'(undefined)':order.waiter}}</td>
                                    <td>{{order.staff}}</td>
                                    <td>{{order.inv}}</td>
                                    <td ng-show="currentUser.is_mgr" style="width:4%"><i ng-click="deleteOrder(order.id)" class="deleteOrderIcon material-icons">delete</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="activity" class="body-pager h-full">
        <div class="row h-full">
            <div class="col s3 h-full p-0" style="border-right:1px solid #ddd;overflow-y: scroll">
                <ul class="collection with-header b-0">
                    <li class="collection-header"><h4 class="red-text">Activity</h4></li>
                    <li class="collection-item active" style="cursor: pointer;">Employees</li>
                    <li class="collection-item" style="cursor: pointer;">Orders</li>
                    <li class="collection-item"></li>
                </ul>
            </div>
            <div class="col s9 h-full">
                <!--fist section-->
                <div id="employee_data"  class="h-full">
                    <div class="header" style="height: 15%;border-bottom:1px solid #ddd;padding:20px;">
                        <div class="row">
                            <div class="col s8">
                                <h5 style="margin:0;" class="grey-text">Employee Activity</h5>
                            </div>
                            <div class="col s4">
                                <input onkeyup="searchList(event)" type="search" style="padding:5px;height:40px;width:100%;" placeholder="Search.." class="browser-default">
                            </div>
                        </div>
                    </div>
                    <div id="list_body" class="body" style="overflow-y: auto;height:85%;">
                        <ul class="collection" ng-repeat="user in REPORTS.users_activity track by $index">
                            <li class="collection-item avatar" style="padding-left: 158px;height:150px;padding-top: 25px;">
                                <i style="font-size: 3rem;height:100px;width: 100px;line-height: 100px;" class="material-icons circle red">person</i>
                                <span class="title red-text" style="font-size:2.0rem;">{{user.name}}</span>
                                <p><span>Orders completed -> <strong>{{user.orders | currency:"":0}}</strong></span><br>
                                    <span>Quantity of items -> <strong>{{user.quantity | currency:"":0}}</strong></span><br>
                                    <span>amount -> <strong class="green-text">{{user.amount | currency:"FCFA ":0}}</strong></span>
                                </p>
                                <a href="#!" style="font-size:2.4rem;top:20%;line-height: 31px;line-height: 31px;text-align: right;" class="secondary-content"> <small style="font-size:1.1rem;">Percentage of total orders</small>
                                    <br>{{((user.orders / REPORTS.totalOrders) * 100).toFixed(2)}}%</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
<!--modal-->
    <!-- Modal Structure -->
    <div id="date_modal" class="modal" style="max-height: unset;">
        <div class="modal-content" style="height: 65vh;">
            <div class="row">
                <h4 class="red-text">Filter reports</h4>
                <div class="col s12" style="border-top: 1px solid #ddd;">
                    <h5 class="red-text">Select date</h5>
                    <div class="row">
                        <div class="col s6">
                            <input id="single_date_instance" title="select date" type="text" class="datepicker" placeholder="Click to select date">
                        </div>
                        <div class="col s3">
                            <button ng-click="filterResult(true, false)" class="btn">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="col s12" style="padding-top: 15px;margin-top: 10%;border-top: 1px solid #ddd;">
                    <h5 class="red-text">Select Interval</h5>
                    <div class="row">
                        <div class="col s5">
                            <input id="multiple_date_start" title="select start date" type="text" class="datepicker" placeholder="Click to select start">
                        </div>
                        <div class="col s5">
                            <input id="multiple_date_end" title="select end date" type="text" class="datepicker" placeholder="Click to select end">
                        </div>
                        <div class="col s2">
                            <button ng-click="filterResult(true, true)" class="btn">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
</div>