<div id="today" class="routPage" ng-controller="todayCtr" style="padding:40px;">
    <div class="row">
        <div class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 pink white-text">
                           <i class="material-icons">shopping_basket</i>
                       </div>
                       <div class="icon-body col s9">
                         <div class="col s9">
                          <span>Today's orders</span><br>
                          <small>Orders recorded today</small>
                         </div>
                         <div class="col s3">
                           <h3 class="right pink-text">{{todaysCompletedOrders.length | currency:"":0}}</h3>
                         </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div ng-show="currentUser.is_mgr" class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 orange white-text">
                            <i class="material-icons">date_range</i>
                       </div>
                       <div class="icon-body col s9">
                         <div class="col s9">
                             <span>All Orders</span><br>
                              <small>Total recorded</small>
                         </div>
                         <div class="col s3">
                            <h3 class="right orange-text">{{orders.length | currency:"":0}}</h3>
                         </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="info-card">
                <div class="body">
                   <div class="row">
                       <div class="icon col s3 blue white-text">
                            <i class="material-icons">local_dining</i>
                       </div>
                       <div class="icon-body col s9">
                          <div class="col s9">
                              <span>Menu items</span><br>
                              <small>All menu items</small>
                          </div>
                          <div class="col s3">
                           <h3 class="right blue-text">{{products.items.length | currency:"":0}}</h3>
                          </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Next section: Table-->
    <hr class="ruler">
    <div class="row">
        <div class="col s12">
            <div class="white z-depth-2" style="margin:10px;padding: 25px;">
                <input class="table-search browser-default" type="search" placeholder="Search..." onkeyup="searchTable(event,'#todayOrdersTable')">
                <table class="huberts-tables">
                    <thead>
                       <th class="small">#</th>
                        <th>Inv num</th>
                        <th>Items</th>
                        <th>Cost</th>
                        <th>Time</th>
                        <th class="small">Status</th>
                        <th class="small">Action</th>
                    </thead>
                </table>
                <div id="dashboard_order_table" class="huberts-table-div">
                    <table id="todayOrdersTable">
                        <tbody>
                            <tr ng-repeat="x in todaysCompletedOrders | orderBy : 'id' : true ">
                               <td class="small">{{$index+1}}</td>
                                <td>{{x.inv}}</td>
                                <td>
                                    <ul class="browser-default" style="list-style-type:circle;">
                                        <li ng-repeat="o in x.items">{{o.name}} <i class="green-text badge">{{o.quantity}}</i></li>
                                    </ul>
                                </td>
                                <td>{{x.totalPrice | currency:"FCFA ":0}}</td>
                                <td>{{Time(x.date)}}</td>
                                <td class="small" style="text-align:center;"><i class="material-icons green-text">check_circle</i></td>
                                <td class="small">
                                    <button class='btn teal waves-effect waves-light' data-target='dropdown1' ng-click="promptPrint(x)"><i class="material-icons">print</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tfoot>
                        <th>Total:</th>
                        <th>Qty: {{todaysCompletedOrders.length | currency:"":0}}</th>
                        <th>Price: {{todaysCompletedOrdersTotals | currency:"FCFA ":0}}</th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>